<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>ICE Servers</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>STUN Server</string>
			<key>Key</key>
			<string>ice_stun_server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>112.124.62.164:19302</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TURN</string>
			<key>Key</key>
			<string>network_enable_ice</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>TURN User</string>
			<key>Key</key>
			<string>ice_turn_username</string>
			<key>DefaultValue</key>
			<string>700</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>TURN Password</string>
			<key>Key</key>
			<string>ice_turn_password</string>
			<key>IsSecure</key>
			<true/>
			<key>DefaultValue</key>
			<string>700</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>TURN Server</string>
			<key>Key</key>
			<string>ice_turn_server</string>
			<key>DefaultValue</key>
			<string>112.124.62.164:19302</string>
		</dict>
	</array>
</dict>
</plist>
