<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>WhereTo</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>User Info</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Balance</string>
			<key>Key</key>
			<string>user_balance</string>
			<key>DefaultValue</key>
			<string>999.80</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>SmartPit</string>
			<key>DefaultValue</key>
			<string>123-456-789-0123</string>
			<key>Key</key>
			<string>user_pit_sn</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SIP Account</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>User Name</string>
			<key>Key</key>
			<string>sip_user_name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Auth Name</string>
			<key>Key</key>
			<string>sip_auth_name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>sip_password</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Domain</string>
			<key>Key</key>
			<string>sip_domain</string>
			<key>DefaultValue</key>
			<string>sip.roamingworld.net</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Display Name</string>
			<key>Key</key>
			<string>sip_display_name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Outbound Proxy</string>
			<key>Key</key>
			<string>sip_enable_proxy</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Proxy</string>
			<key>Key</key>
			<string>sip_proxy</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<string>udp</string>
				<string>tcp</string>
				<string>tls</string>
			</array>
			<key>Titles</key>
			<array>
				<string>UDP</string>
				<string>TCP</string>
				<string>TLS</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Transport</string>
			<key>Key</key>
			<string>sip_transport</string>
			<key>DefaultValue</key>
			<string>tcp</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Advanced Options</string>
			<key>Key</key>
			<string>sip_enable_advanced</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Push Notification</string>
			<key>Key</key>
			<string>enable_push_notification</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Advanced Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Network</string>
			<key>File</key>
			<string>Network</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Audio</string>
			<key>File</key>
			<string>Audio</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Video</string>
			<key>File</key>
			<string>Video</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Advanced</string>
			<key>Title</key>
			<string>Advanced</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Application Info</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Powered by www.cloudwebrtc.com .</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>DefaultValue</key>
			<string>Cloud WebRTC Platform</string>
			<key>Key</key>
			<string>copyright</string>
		</dict>
	</array>
</dict>
</plist>
